.row
  .span2.pull-right
    %h5= link_to 'Add Answer', new_question_answer_path(@question), class: 'btn btn-primary'

.row
  .bs-example
    = render :partial => 'image', :locals => {:user => @question.user}
    = link_to @question.user.twitter_handle, @question.user.twitter_url, :target => '_blank'
  %pre.highlight.prettyprint
    %h4
      =@question.statement


- answers = @question.answers

- if answers.present? 
  %legend 
    %b Answers
  - answers.each do |ans|
    .row
      .bs-example
        = render :partial => 'image', :locals => {:user => ans.user}
        = link_to ans.user.twitter_handle, ans.user.twitter_url, :target => '_blank' 
        .pull-right
          - if user_signed_in?
            - if current_user == ans.user
              %span
                = link_to 'Edit', edit_question_answer_path(@question, ans), title: 'Edit', class: 'btn btn-primary' 
              &nbsp
              %span
                = link_to 'Destroy', question_answer_path(@question, ans), method: :delete, title: 'Remove', class: 'btn btn-danger' 
              &nbsp
            - else
              %div{id: ans.id}
                = render 'vote', answer: ans
      %pre.highlight.prettyprint
        = raw code_highlight(ans.statement)

%legend 
  %b Comments
= render 'comment'
- if user_signed_in?
  = simple_form_for [@question, @comment] do |f|
    = render 'comments/form', f: f
