.row
  .bs-example
    = render :partial => 'image', :locals => {:user => @question.user}
    = @question.user.twitter_handle
  %pre.highlight.prettyprint
    %h4= "Question: #{@question.statement}"
  .answer_box
  .pull-right
    %h5= link_to 'Add Answer', new_question_answer_path(@question), class: 'btn btn-primary'


- answers = @question.answers

- if answers.present? 
  %legend 
    %b Answers
  - answers.each do |ans|
    .row
      .bs-example
        = render :partial => 'image', :locals => {:user => ans.user}
        = ans.user.twitter_handle 
        .pull-right
          - if user_signed_in?
            - if current_user == ans.user
              %span
                = link_to edit_question_answer_path(@question, ans), title: 'Edit' do
                  %span.glyphicon.glyphicon-edit
              &nbsp
              %span
                = link_to question_answer_path(@question, ans), method: :delete, title: 'Remove', confirm: "Are you sure?" do
                  %span.glyphicon.glyphicon-trash
              &nbsp
            - else
              %div{id: ans.id}
                = render 'vote', answer: ans
      %pre.highlight.prettyprint
        = ans.statement
%legend 
  %b Comments
= render 'comment'
= simple_form_for [@question, @comment] do |f|
  = render 'comments/form', f: f
