%section
  %span.label.label-success By :- 
  = @question.user.email
  .span2.pull-right
    %h5= link_to 'Add Answer', new_question_answer_path(@question), class: 'btn btn-primary'
%section
  %pre.prettyprint
    %h4= "Question: #{@question.statement}"
%legend Answers
- @question.answers.each do |ans|
  .bs-docs-example
    %span.label.label-success Answer by :- 
    = ans.user.email 
    .pull-right
      = link_to 'Remove', question_answer_path(@question, ans), method: :delete, class: 'btn btn-danger' if current_user == ans.user
      = link_to 'Edit', edit_question_answer_path(@question, ans), class: 'btn btn-primary' if current_user == ans.user
  %pre.prettyprint
    = ans.statement

%legend Comments
= render 'comment'
= simple_form_for [@question, @comment] do |f|
  = render 'comments/form', f: f
