- content_for :signed_in_options do
  %ul.nav.pull-right
    %li
      %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
        = current_user.try(:email) || 'Options' 
        %b.caret
      %ul.dropdown-menu
        %li
          %a{:href => root_path} Questions
        %li
          %a{:href => my_questions_questions_path} My Questions
        %li
          %a{:href => new_question_path} Add a Question
        %li.divider
        %li
          = link_to 'Log Out', destroy_user_session_path, method: :delete
  :javascript
    $('.dropdown-toggle').dropdown();

- content_for :signed_out_options do
  %ul.nav.pull-right
    %li 
      = link_to 'Sign In with Twitter', '/auth/twitter?x_auth_access_type=read'
      

%html
  %head
    %title RubyInSense
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body.well
    .navbar.navbar-inverse
      .navbar-inner
        - if user_signed_in?
          = yield :signed_in_options
        - else
          = yield :signed_out_options
        .pull-left
          = link_to 'RubyInSense', root_path, class: :brand 
    .container
      = yield
