- content_for :signed_in_options do
  %ul.nav.pull-right
    %li
      %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
        Options
        %b.caret
      %ul.dropdown-menu
        %li
          %a{:href => root_path} Questions
        %li
          %a{:href => my_questions_questions_path} My Questions
        %li.divider
        %li
          = link_to 'Log Out', destroy_user_session_path, method: :delete

- content_for :signed_out_options do
  %ul.nav.pull-right
    %li 
      = link_to 'Sign In with Twitter', '/auth/twitter?x_auth_access_type=read'
      

%html
  %head
    %title RubyInSense
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    .navbar.navbar-inverse
      .navbar-inner
        = link_to root_path, class: :brand do
          RubyInSense
        - if user_signed_in?
          = yield :signed_in_options
        - else
          = yield :signed_out_options
    .container
      = yield
