- content_for :signed_in_options do
  %li.pull-right
    %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
      = render :partial => "questions/image", :locals => {:user => current_user}
      = current_user.try(:twitter_handle) || 'Options' 
    %ul.dropdown-menu
      %li
        %a{:href => edit_user_registration_path} My Profile
      %li
        = link_to 'Log Out', destroy_user_session_path, method: :delete
  :javascript
    $('.dropdown-toggle').dropdown();

- content_for :signed_out_options do
  %li.pull-right
    = link_to 'Sign In with Twitter', '/auth/twitter?x_auth_access_type=read'

- content_for :pills do  
  %ul.nav.nav-pills
    %li.active
      = link_to 'Home', root_path
    %li.active
      = link_to 'My Questions', my_questions_questions_path 
    - if user_signed_in?
      = yield :signed_in_options
    - else
      = yield :signed_out_options

%html
  %head
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    .header
      .logo
        RubyInsense
    .container
      #container
        = yield(:pills)
        = flash[:notice]
        = yield
